  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin: 0;
    padding: 20px;
  }
  
  .footer-content a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  #footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    font-size: 20px; /* Increase the font size */
    padding: 10px 20px; /* Increase the padding for a larger clickable area */          /* Footer height */
}